<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="home-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <p class="text-wrapper">Your next meal is here.</p>
            <div class="atlanta-awaits"><br />Atlanta awaits.</div>
          </div>
          <div class="component-wrapper">
            <div class="component">
              <div class="div">
                <div class="text-wrapper-2">log in</div>
                <div class="rectangle"></div>
                <div class="text-wrapper-3">sign up</div>
              </div>
              <div class="text-wrapper-4">write a review</div>
              <div class="text-wrapper-5">chomp</div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-2">
              <div class="rectangle-2"></div>
              <div class="rectangle-3"></div>
              <div class="frame"><div class="text-wrapper-6">middle eastern dinner spot</div></div>
              <img class="vector" src="{% static 'img/vector.svg' %}" alt="vector image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
