{% load socialaccount %}

<h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>

<!-- Sign in with Google -->
{#<a href="{% provider_login_url 'google' %}">#}
{#    <button type="button">Sign in with Google</button>#}
{#</a>#}

 CSS BELOW:

.sign-up {
  display: flex;
  flex-direction: column;
  height: 1024px;
  align-items: center;
  gap: 47px;
  position: relative;
  background-color: #f3f2f2;
  overflow: hidden;
}

.sign-up .rectangle {
  position: relative;
  width: 1440px;
  height: 101px;
  margin-left: -1942px;
}

.sign-up .component {
  display: flex;
  flex-direction: column;
  width: 317px;
  align-items: center;
  gap: 22px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-up .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.sign-up .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -11.5px;
  margin-right: -11.5px;
}

.sign-up .textboxes {
  position: relative;
  width: 340px;
  flex: 0 0 auto;
}

/* Ensure all input fields are the same size */
.sign-up .textboxes input {
  width: 320px;
  height: 48px; /* Explicitly set the height for all input fields */
  padding: 10px;
  background-color: #f4f3f3;
  border-radius: 5px;
  border: 1px solid #89898a;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #89898a;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensure padding does not affect height */
}

.sign-up .frame-3 {
  display: flex;
  width: 320px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  margin-left: -1.5px;
  margin-right: -1.5px;
  background-color: #2e2bb2;
  border-radius: 5px;
}

.sign-up .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #f3f2f2;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .frame-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-up .line {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
}

.sign-up .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #686869;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .frame-5 {
  display: flex;
  width: 320px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  margin-left: -1.5px;
  margin-right: -1.5px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.sign-up .continue-with-google {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .image {
  position: absolute;
  width: 28px;
  height: 37px;
  top: 7px;
  left: 55px;
  object-fit: cover;
}

.sign-up .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #2e2bb2;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

