<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/SignUpglobals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/SignUpstyleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/SignUpstyle.css' %}"/>
  </head>
  <body>
    <div class="sign-up">
      <img class="rectangle" src="{% static 'img/rectangle-12.png' %}"  />
      <div class="component">
        <div class="frame">
          <div class="div-wrapper"><div class="text-wrapper">Welcome</div></div>
        </div>
        <div class="div">
            <div class="textboxes">
                <div class="frame-2"><input class="email" type="email" placeholder="Email" /></div>
            </div>
            <div class="textboxes">
                <div class="frame-2"><input class="username" type="text" placeholder="Username" /></div>
            </div>
            <div class="textboxes">
                <div class="frame-2"><input class="input" type="password" placeholder="Password" /></div>
            </div>
            <div class="textboxes">
                <div class="frame-2"><input class="input" type="password" placeholder="Confirm Password" /></div>
            </div>
        </div>

        <div class="frame-3"><div class="text-wrapper-2">Sign Up</div></div>
        <div class="frame-4">
          <img class="line" src="{% static 'img/line-5-1.svg' %}"/>
          <div class="text-wrapper-3">or</div>
          <img class="line" src="{% static 'img/line-5-1.svg' %}"/>
        </div>
        <div class="frame-5">
          <div class="continue-with-google">Continue with Google</div>
          <img class="image" src="{% static 'img/image-2-1.png' %}" />
        </div>
        <div class="frame">
          <div class="text-wrapper-4">Already have an account?</div>
          <div class="text-wrapper-5">Log in</div>
        </div>
      </div>
      <div class="navbar-component">
        <div class="frame-6">
          <div class="text-wrapper-6">chomp</div>
          <div class="frame-7">
            <div class="text-wrapper-7">Write a Review</div>
            <div class="frame-8"><div class="text-wrapper-8">Log In</div></div>
            <div class="frame-9"><div class="text-wrapper-2">Sign Up</div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
