:root {
  --collection-1-off-white: rgba(244, 243, 243, 1);
  --collection-1-off-black: rgba(30, 30, 30, 1);
  --collection-1-THE-blue: rgba(46, 44, 179, 1);
  --collection-1-dark-grey: rgba(105, 105, 106, 1);
  --collection-1-light-grey: rgba(217, 217, 217, 1);
  --collection-1-medium-grey: rgba(137, 137, 138, 1);
}